@charset "UTF";
/**
Author: Tammy Knox
HCI 472
Professor Putnam
Assignment 2: Bootstrap Homework
**/

.eb-garamond-body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-headings {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.page-title{
    font-size: 32px;
    margin-top:1.5em;
    font-weight:700;
    text-transform: uppercase;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:darkmagenta;

}

a:active{
    color:darksalmon;

}

h2{
    font-size: 24px;
}

p{
    font-size:14px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.magenta-col{
    background-color:rgb(217, 61, 217);
    color:#fff;
}

.beige-col{
    background-color:goldenrod;
}

.light-blue-col{
    background-color:lightblue;
}

ul li{
    list-style: none;
    font-size:18px;
    display:inline-block;
    padding: 16px 10px;
}

/*Bootstrap Styles Override*/

nav.navbar.bg-body-tertiary{
    background-color:rgb(23, 21, 46) !important;
}
.navbar-nav > .nav-item{
    color:#fff;
}