@charset "UTF";
/**
Author: Tammy Knox
HCI 472
Professor Putnam
Assignment 2: Bootstrap Homework
**/
body{
    margin:0;
    padding:0;
    background-color:rgb(247, 231, 212) !important;
}
.eb-garamond-body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-headings {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.page-title{
    font-size: 32px;
    margin-top:1.5em;
    font-weight:700;
    text-transform: uppercase;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:#dc7853;

}

a:active{
    color:#dc7853;

}

h2{
    font-size: 24px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
}

p{
    font-size:18px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.magenta-col{
    background-color:rgb(217, 61, 217);
    color:#fff;
}

.beige-col{
    background-color:goldenrod;
}

.light-blue-col{
    background-color:lightblue;
}

ul li{
    list-style: none;
    font-size:18px;
    display:inline-block;
    padding: 16px 10px;
}

.dark-navy{
    background-color:#17152e !important;
}
/*Bootstrap Styles Override*/

.bg-body-tertiary{
    background-color:#17152e !important;
}

a.nav-link{
    color:rgb(215, 215, 215);
}

.navbar-nav .nav-link.active{
    color:#dc7853;
}

.navbar-nav .nav-link:hover{
    color:#dc7853;
}

.navbar-brand{
    color:#fff;
}

.navbar-brand:hover{
    color:#dc7853;
}
.nav-link.show{
    color:#dc7853 !important;
}
.footer-tk{
    color:#000;
}